.intro_div{
    background: rgba(169, 4, 245, 0.8);float: none;border-radius: 12px;
	border-width: 6px;
	border-color: rgb(3, 252, 252);
	border-style: dotted;
    font-family: 'Gill Sans', 'Gill Sans MT','Calibri', 'Trebuchet MS', sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: palegreen;
    }
    body{
        background-color: purple;
    }
    img{
        margin-top: 5px;
        border-radius: 10px;
        border-color: violet;
        border-width: 8px;
        border-style: ridge;
    }
    .food_div{
      background-color: magenta ;float:none;
      border-color: rgb(244, 248, 0);
      border-width: 7px;
      border-style: dotted; 
      text-align: center;
    }
    .food_div image{
        border-radius: 13px;
        height: 45px;
    }
    h3{
    font-family: cursive;
    font-weight: bold;
    font-size: 19px;
    color: turquoise;
    }